

.mobile-screen{
    display:none;
}
.desktop-screen{
    display:block;
}




@media screen and (max-width: 600px) {

    .advice{
        margin-top:140px !important ;
        margin-bottom: -60px !important;
    }
    .first{
        text-align: center;
    }
    
    .mobile-screen{
        display:block;
    }
    .desktop-screen{
        display:none;
    }
    
}
