.socialContainer {
  top: 40%;
  right: 1%;
  width: fit-content;
}

.chatWithUsContainer {
  top: 85vh;
  right: 10vw;
  background: #461578;
  color: white;
  width: fit-content;
}

.takeMeToTopContainer {
  top: 80vh;
  left: 10vh;
  width: fit-content;
}
.iconContainer {
  border-radius: 100%;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #60269e;
  cursor: pointer;
}
.iconContainer:hover {
  color: #60269e;
  transform: scale(1.02);
}

@media screen and (max-width: 600px) {
  .socialContainer {
    top: 40%;
    right: 5%;
    width: fit-content;
  }
  .takeMeToTopContainer {
    top: 80vh;
    left: 1vh;
    width: fit-content;
  }
  .textParagraph{
    font-size: 10px !important; 

  }
  .headingTitle{
    font-size: 12px !important; 

  }
  .chatWithUsContainer {
    display: none;
    color: white;
    width: fit-content;
  }
  .purpleHeading {
    font-size: 20px !important;
  }
  .textParagraphP {
    font-size: 10px !important;
  }
}
